*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 100px;
    grid-gap: 10px;
}

.child{
    background-color: crimson;
    border: 3px solid white;
}
#child1{
    /* grid-row: 1/4;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column-end: -1; 
    grid-column-end: 4; */
    grid-column: 1/4;
}